<div id="<%= dom_id registration %>">
  <p>
    <strong>Name:</strong>
    <%= registration.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= registration.age %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= registration.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= registration.city %>
  </p>

  <p>
    <strong>Mobile no:</strong>
    <%= registration.mobile_no %>
  </p>

</div>
